@page "/"
@code {
	private int count = 20;
	private bool horizontal = true;
	private int horizontalGap;
	private int verticalGap;
	private int gap;
	private int maxWidth;
	private int maxHeight;
	private bool wrap = true;
	private bool reverse;
	private StackAlignment horizontalAlignment = StackAlignment.Start;
	private StackAlignment verticalAlignment = StackAlignment.Start;
}

<Stack MaxHeight="350px" Wrap>
	<Slider Label="Count" Min="0" Max="100" @bind-value=@count />
	<Dropdown Label="Horizontal Alignment" TItem="StackAlignment" @bind-Value="horizontalAlignment" />
	<Dropdown Label="Vertical Alignment" TItem="StackAlignment" @bind-Value="verticalAlignment" />
	<Checkbox Label="Horizontal" @bind-value="horizontal" />
	<Slider Label="Horizontal Gap" Min="0" Max="100" @bind-value="horizontalGap" />
	<Slider Label="Vertical Gap" Min="0" Max="100" @bind-value="verticalGap" />
	<Slider Label="Gap" Min="0" Max="100" @bind-value="gap" />
	<Slider Label="Max Width" Min="0" Max="600" @bind-value="maxWidth" />
	<Slider Label="Max Height" Min="0" Max="600" @bind-value="maxHeight" />
	<Checkbox Label="Wrap" @bind-Value="wrap" />
	<Checkbox Label="Reverse" @bind-Value="reverse" />
</Stack>

<div style="background-color: #71AFE5;">
    <Stack
    	Horizontal="horizontal"
    	HorizontalAlignment="horizontalAlignment"
    	VerticalAlignment="verticalAlignment"
    	Gap="@(gap == 0 ? null : gap)"
    	HorizontalGap="@(horizontalGap == 0 ? null : horizontalGap)"
    	VerticalGap="@(verticalGap == 0 ? null : verticalGap)"
    	Wrap="wrap"
    	Reverse="reverse"
    	MaxWidth="@(maxWidth == 0 ? null : $"{maxWidth}px")"
    	MaxHeight="@(maxHeight == 0 ? null : $"{maxHeight}px")"
    >
    @for(var i = 0; i < count; i++) {
    	<div style="background-color: #0078D4; width: 50px; height: 50px;">@i</div>
    }
    </Stack>
</div>
