@code {
	[Parameter] public string Label { get; set; } = default!;
	[Parameter] public bool Value { get; set; }

	[Parameter] public EventCallback<bool> ValueChanged { get; set; }
}

<div style="width: 30%">
	<MudSwitch
		Label="@Label"
		Checked="@Value"
		CheckedChanged="@ValueChanged"
		ThumbIcon="@(Value ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)"
		ThumbIconColor="@(Value ? Color.Success : Color.Error)"
	/>
</div>
