@typeparam TItem
@code {
	[Parameter] public string Label { get; set; } = default!;
	[Parameter] public TItem Value { get; set; } = default!;

	[Parameter] public EventCallback<TItem> ValueChanged { get; set; }
}

<div style="width: 30%">
	<MudSelect
		Label="@Label"
		Value="@Value"
		ValueChanged="@ValueChanged"
		Variant="@Variant.Outlined"
		AnchorOrigin="@Origin.BottomCenter"
		Margin="Margin.Dense"
		Dense="true"
	>
    	@foreach (TItem enumValue in Enum.GetValues(typeof(TItem)))
        {
		    <MudSelectItem Value="@enumValue" />
        }
    </MudSelect>
</div>
